
.tableContainer{
    padding: 20px 30px;
    background-color: #ffffff;
    border-radius: 12px;
    position: relative;
    .Table {
        display: table;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        .thead,.tbody{
            display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
        }
        .td{
          background-color: #fff;
         }
      .tr {    
        display: flex;
        border-bottom: 1px solid #E5E7EB;
        .td,.th {
          display: table-cell;
          padding: 16px 12px;
          vertical-align: middle;

          button {
            width: 35px;
            height: 35px;
            border: 1px solid #F3F4F6;
            border-radius: 4.5px;
            margin-left: 9px;
          }
          .itemImage{
            width: 51px;
            height: 51px;
            object-fit: cover;
            border-radius: 3px;
          }
        }
      }
      .thead{
        background: rgb(249 144 80 / 10%);
        height: 47px;
        .tr{
            border: 0;
        }
    }
    }
}




.no_data_state {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    opacity: 0.6;
}