@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-fade';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5D5D5D;
}

html,
body {
  height: 100%;
}

#root,
.MuiModal-root {
  .primary-btn {
    background-color: #F99050;
    color: white;
    font-weight: 600;
    padding: 10px 32px;
    text-transform: capitalize;

    &:hover {
      background-color: #F99050;
    }
  }

  .secondary-btn {
    background-color: transparent;
    color: #F99050;
    font-weight: 600;
    padding: 10px 32px;
    text-transform: capitalize;
    border: 1px solid #F99050;

    &.randomBtn {
      color: white;
      background-color: #F99050;
    }
  }

  .btn-round {
    border-radius: 25px;
  }

}

.formGroup {
  margin-top: 20px;
}

.MuiListItem-gutters{
  &.active {
    background-color: #fff4ee;
    border-left: 3px solid #F99050;
    span {
      color: #FF7222;
    }
    svg{
      path{
        stroke: #F99050;
      }
    }
  }
  .MuiListItemIcon-root{
    min-width: 36px;
  }
}
.w-25{
  flex: 2;
}
.w-20{
  flex: 1.5;
}
.w-10{
  flex: 1;
}
.w-5{
  flex: 0.5;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F99050; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e7864a; 
}