.formLabel {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 8px;
    color: #5D5D5D;
}

.inputForm, .inputTextarea {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #D6D6D6;
    background: #F3F3F3;
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 0px 13px;
    box-sizing: border-box;
    color: #5D5D5D;

    &:focus-visible {
        outline: 1px solid #ff7222;
    }
}
.inputTextarea {
    height: 60px;
}