.mainContainerWrapper {
  height: 100vh;
  background: #f7f7f7;

  .leftMenuWrapper {
    background-color: #ffffff;
    max-width: 260px;
    width: 100%;
  }

  .containerWrapper {
    min-width: calc(100% - 260px);
    width: 100%;
  }
}