.previewMain {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 10px;
    padding: 20px 30px;

    .previewContent {
        display: flex;
        align-items: end;
        height: 100%;

        .previewBody {
            display: flex;
            width: 100%;
            align-items: center;

            h5 {
                width: 100%;
                text-align: center;
                color: white;
                font-size: 20px;
                font-weight: 500;
                margin: 0;
            }

            .previewBtn {
                width: auto;
                margin-left: 15px;

                .previewButton {
                    background-color: #FF7222;
                    border-radius: 100%;
                    color: white;
                    padding: 20px;
                }
            }
        }
    }
}

.no_data_state {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    opacity: 0.6;
}